* {
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-color: white; */
}

.ecce_homo_00 img {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 300px;
    filter: grayscale(1);
    opacity: 40%;
  }

  .side-original h1 {
    color: grey;
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 200px;
    justify-content: center;
  }

.side-A {
    /* position: absolute; */
    width: 100%;
    height: 100%;;
    background-color: white;
    opacity: 0%;
}

body:has(.A-year:hover) h1 {
    opacity: 100%;
  }

body:has(.A-year:hover) .side-A {
    opacity: 100%;
  }

body:has(.A-year:hover) .A-year {
    opacity: 100%;
    /* width: 100%;
    height: 100%;
    left: 1.30%;
    top: 15.30%; */
  }

.A_text {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: white;
  mix-blend-mode: difference;
}

.ecce_homo_01 img {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 300px;
}

h1 {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: 200px;
  justify-content: center;
  opacity: 30%;
}

.A_body-text-01 {
  text-align: justify;
  position: absolute;
  left: 230px;
  top: 250px;
  width: 250px;
  height: 210px;
}

.A_body-text-02 {
  text-align: justify;
  position: absolute;
  left: 230px;
  top: 430px;
  width: 250px;
  height: 210px;
}

.A_body-text-03 {
  text-align: justify;
  position: absolute;
  right: 240px;
  top: 280px;
  width: 250px;
  height: 455px;
}

.A-year {
  opacity: 30%;
  font-family: Helvetica, sans-serif;
  position: absolute;
  line-height: 130px;
  bottom: 10%;
  left: 20px;
  font-size: 130px;
}

.B-year {
    opacity: 30;
    font-family: Helvetica, sans-serif;
    position: absolute;
    line-height: 130px;
    right: 30px;
    bottom: 10%;
    font-size: 130px;
  }
