/* FONTS */
/* Fungal font (credit - Fungal by Raphaël Bastide, Jérémy Landes. Distributed by velvetyne.fr.) */
@font-face {
  font-family: "Fungal-Grow0Thickness500";
  src: url("../fonts/Fungal-Grow0Thickness500.woff");
}

@font-face {
  font-family: "Fungal-Grow100Thickness500";
  src: url("../fonts/Fungal-Grow100Thickness500.woff");
}

@font-face {
  font-family: "Fungal-Grow400Thickness500";
  src: url("../fonts/Fungal-Grow400Thickness500.woff");
}
/* MODIFICATIONS */
/* full page modifications */
* {
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  display: flex;
  font-family: "Fungal-Grow100Thickness500", Helvetica;
  font-size: 180px;
  font-weight: 500;
  height: 260px;
  justify-content: center;
  color: #d1d1d1;
  background-color: #363636;
}

.original-text,
.A-text,
.B-text {
  line-height: 23px;
  font-family: "Fragment Mono", monospace;
  font-size: 14px;
}

.bg-color {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #363636;
}

ul li {
  margin-top: 20px;
}

a {
  color: inherit;
}

/* image modifications */
.ecce_homo_00 img {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 300px;
}

.ecce_homo_01 img {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 300px;
}

.ecce_homo_02 img {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 300px;
}

/* original-side modifications */
.original-text {
  color: #d1d1d1;
}

.original_body-text-01 {
  text-align: justify;
  position: absolute;
  left: 200px;
  top: 250px;
  width: 330px;
  height: 210px;
}

.original_body-text-02 {
  text-align: justify;
  position: absolute;
  left: 280px;
  top: 440px;
  width: 250px;
  height: 210px;
}

.original_body-text-03 {
  text-align: justify;
  position: absolute;
  left: 280px;
  top: 520px;
  width: 250px;
  height: 210px;
}

.original_body-text-04 {
  z-index: 1;
  position: absolute;
  right: 240px;
  top: 250px;
  width: 330px;
  height: 455px;
}

/* side-A modifications */
.side-A {
  width: 100%;
  height: 100%;
  opacity: 0%;
}

.A_body-text-01 {
  text-align: justify;
  position: absolute;
  left: 200px;
  top: 250px;
  width: 330px;
  height: 210px;
}

.A_body-text-02 {
  text-align: justify;
  position: absolute;
  left: 280px;
  top: 430px;
  width: 250px;
  height: 210px;
}

.A_body-text-03 {
  text-align: justify;
  position: absolute;
  right: 270px;
  top: 250px;
  width: 260px;
  height: 455px;
}

.A_body-text-04 {
  text-align: justify;
  position: absolute;
  right: 210px;
  top: 480px;
  width: 320px;
  height: 455px;
}

.A-year {
  color: #d1d1d1;
  font-family: "Space Mono", Helvetica;
  position: absolute;
  line-height: 130px;
  bottom: 10%;
  left: 20px;
  font-size: 130px;
}

/* side-B modifications */
.B_body-text-01 {
  text-align: justify;
  position: absolute;
  left: 200px;
  top: 270px;
  width: 310px;
  height: 210px;
}

.B_body-text-02 {
  text-align: justify;
  position: absolute;
  left: 250px;
  top: 430px;
  width: 300px;
  height: 210px;
}

.B_body-text-03 {
  text-align: justify;
  position: absolute;
  right: 240px;
  top: 270px;
  width: 320px;
  height: 455px;
}

.B_body-text-04 {
  text-align: justify;
  position: absolute;
  right: 170px;
  top: 480px;
  width: 340px;
  height: 455px;
}

.B-year {
  color: #d1d1d1;
  font-family: "Space Mono", Helvetica;
  position: absolute;
  line-height: 130px;
  right: 30px;
  bottom: 10%;
  font-size: 130px;
}

.side-B {
  width: 100%;
  height: 100%;
  opacity: 0%;
}

/* ANIMATION */

/* side-original animation */
body:has(.A-year:hover) .original-text {
  opacity: 0%;
}

body:has(.B-year:hover) .original-text {
  opacity: 0%;
}

/* side-A animation */
body:has(.A-year:hover) h1 {
  font-family: "Fungal-Grow0Thickness500", Helvetica;
  color: black;
  background-color: white;
}

body:has(.A-year:hover) .side-A {
  opacity: 100%;
}

body:has(.A-year:hover) .A-year {
  color: black;
}

body:has(.A-year:hover) .B-year {
  opacity: 20%;
  color: #3d3d3d;
}

body:has(.A-year:hover) .ecce_homo_00 {
  opacity: 0%;
}

body:has(.A-year:hover) .bg-color {
  background-color: white;
}

/* side-B animation */
body:has(.B-year:hover) h1 {
  font-family: "Fungal-Grow400Thickness500", Helvetica;
  opacity: 100%;
  color: white;
  background-color: #151515;
}

body:has(.B-year:hover) .side-B {
  opacity: 100%;
  color: white;
}

body:has(.B-year:hover) .ecce_homo_00 {
  opacity: 0%;
}

body:has(.B-year:hover) .B-year {
  color: white;
}

body:has(.B-year:hover) .bg-color {
  background-color: #151515;
}

body:has(.B-year:hover) .A-year {
  opacity: 30%;
  color: white;
}
