@font-face {
  font-family: "Fungal-Grow0Thickness500";
  src: url("../fonts/Fungal-Grow0Thickness500.woff");
}

@font-face {
  font-family: "Fungal-Grow100Thickness1000";
  src: url("../fonts/Fungal-Grow100Thickness1000.woff");
}

@font-face {
  font-family: "Fungal-Grow400Thickness500";
  src: url("../fonts/Fungal-Grow400Thickness500.woff");
}

* {
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  display: flex;
  font-family: "Fungal-Grow100Thickness1000", sans-serif;
  font-size: 180px;
  height: 260px;
  justify-content: center;
  color: grey;
  background-color: lightgrey;
}

.original-text, .A-text, .B-text {
  line-height: 23px;
  font-family: "Tomorrow";
}

.bg-color {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
}

.ecce_homo_00 img {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 300px;
  }

.side-A {
    width: 100%;
    height: 100%;;
    opacity: 0%;
}

.ecce_homo_01 img {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 300px;
}

.ecce_homo_02 img {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 300px;
}

.original-text {
  color: #535353;
}

ul li {
  margin-top: 10px;
}

a {
  color: inherit;
}

.original_body-text-01 {
  text-align: justify;
  position: absolute;
  left: 250px;
  top: 250px;
  width: 250px;
  height: 210px;
}

.original_body-text-02 {
  text-align: justify;
  position: absolute;
  left: 230px;
  top: 450px;
  width: 250px;
  height: 210px;
}

.original_body-text-03 {
  text-align: justify;
  position: absolute;
  left: 270px;
  top: 540px;
  width: 250px;
  height: 210px;
}

.original_body-text-04 {
  z-index: 1;
  position: absolute;
  right: 240px;
  top: 250px;
  width: 300px;
  height: 455px;
}

.A_body-text-01 {
  text-align: justify;
  position: absolute;
  left: 230px;
  top: 250px;
  width: 250px;
  height: 210px;
}

.A_body-text-02 {
  text-align: justify;
  position: absolute;
  left: 230px;
  top: 430px;
  width: 250px;
  height: 210px;
}

.A_body-text-03 {
  text-align: justify;
  position: absolute;
  right: 240px;
  top: 250px;
  width: 250px;
  height: 455px;
}

.A-year {
  opacity: 30%;
  font-family: "Funnel Display", sans-serif;
  position: absolute;
  line-height: 130px;
  bottom: 10%;
  left: 20px;
  font-size: 130px;
}

.B_body-text-01 {
  text-align: justify;
  position: absolute;
  left: 290px;
  top: 250px;
  width: 250px;
  height: 210px;
}

.B_body-text-02 {
  text-align: justify;
  position: absolute;
  left: 230px;
  top: 445px;
  width: 250px;
  height: 210px;
}

.B_body-text-03 {
  text-align: justify;
  position: absolute;
  right: 280px;
  top: 250px;
  width: 250px;
  height: 455px;
}

.B_body-text-04 {
  text-align: justify;
  position: absolute;
  right: 240px;
  top: 445px;
  width: 250px;
  height: 455px;
}

.B-year {
    opacity: 30%;
    font-family: "Funnel Display", sans-serif;
    position: absolute;
    line-height: 130px;
    right: 30px;
    bottom: 10%;
    font-size: 130px;
  }

  .side-B {
    width: 100%;
    height: 100%;;
    opacity: 0%;
  }
  

/* ANIMATION */

/* side-original animation */
body:has(.A-year:hover) .original-text {
  opacity: 0%;
}

body:has(.B-year:hover) .original-text {
  opacity: 0%;
}


  /* side-A animation */
body:has(.A-year:hover) h1 {
  font-family: "Fungal-Grow0Thickness500";
  color: black;
  background-color: white;
}

body:has(.A-year:hover) .side-A {
  opacity: 100%;
}

body:has(.A-year:hover) .A-year {
  opacity: 100%;
}

body:has(.A-year:hover) .ecce_homo_00 {
  opacity: 0%;
}

body:has(.A-year:hover) .bg-color {
  background-color: white;
}

/* side-B animation */
body:has(.B-year:hover) h1 {
  font-family: "Fungal-Grow400Thickness500";
  opacity: 100%;
  color: white;
  background-color: #151515;
}

body:has(.B-year:hover) .side-B {
  opacity: 100%;
  color: white;
}

body:has(.B-year:hover) .ecce_homo_00 {
  opacity: 0%;
}

body:has(.B-year:hover) .B-year {
  opacity: 100%;
  color: white;
}

body:has(.B-year:hover) .bg-color {
  background-color: #151515;
}

body:has(.B-year:hover) .A-year {
  opacity: 30%;
  color: white;
}
