* {
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

h1 {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: 200px;
  justify-content: center;
  opacity: 30%;
  background-color: white;
}

.bg-color {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.ecce_homo_00 img {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 300px;
  }

.side-A {
    /* position: absolute; */
    width: 100%;
    height: 100%;;
    opacity: 0%;
}

/* side-A animation */
body:has(.A-year:hover) h1 {
  opacity: 100%;
  background-color: white;
}

body:has(.A-year:hover) .side-A {
  opacity: 100%;
}

body:has(.A-year:hover) .A-year {
  opacity: 100%;
}

.side-B {
  width: 100%;
  height: 100%;;
  opacity: 0%;
}

/* side-B animation */
body:has(.B-year:hover) h1 {
  opacity: 100%;
  color: white;
  background-color: black;
}

body:has(.B-year:hover) .side-B {
  opacity: 100%;
  color: white;
}

body:has(.B-year:hover) .ecce_homo_00 {
  opacity: 0%;
}

body:has(.B-year:hover) .B-year {
  opacity: 100%;
}

body:has(.B-year:hover) .bg-color {
  background-color: black;
}

.A_text {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: white;
  mix-blend-mode: difference;
}

.ecce_homo_01 img {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 300px;
}

.ecce_homo_02 img {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 300px;
}

.A_body-text-01 {
  text-align: justify;
  position: absolute;
  left: 230px;
  top: 250px;
  width: 250px;
  height: 210px;
}

.A_body-text-02 {
  text-align: justify;
  position: absolute;
  left: 230px;
  top: 430px;
  width: 250px;
  height: 210px;
}

.A_body-text-03 {
  text-align: justify;
  position: absolute;
  right: 240px;
  top: 280px;
  width: 250px;
  height: 455px;
}

.A-year {
  opacity: 30%;
  font-family: Helvetica, sans-serif;
  position: absolute;
  line-height: 130px;
  bottom: 10%;
  left: 20px;
  font-size: 130px;
}

.B_body-text-01 {
  text-align: justify;
  position: absolute;
  left: 230px;
  top: 250px;
  width: 250px;
  height: 210px;
}

.B_body-text-02 {
  text-align: justify;
  position: absolute;
  left: 230px;
  top: 430px;
  width: 250px;
  height: 210px;
}

.B_body-text-03 {
  text-align: justify;
  position: absolute;
  right: 240px;
  top: 250px;
  width: 250px;
  height: 455px;
}

.B_body-text-04 {
  text-align: justify;
  position: absolute;
  right: 240px;
  top: 430px;
  width: 250px;
  height: 455px;
}

.B-year {
    opacity: 30%;
    font-family: Helvetica, sans-serif;
    position: absolute;
    line-height: 130px;
    right: 30px;
    bottom: 10%;
    font-size: 130px;
  }
